pandas
matplotlib
scikit-learn
numpy
plotly
python-dateutil

# Streamlit and related packages
streamlit==1.36.0
streamlit-extras==0.4.3

# Data processing and utilities
pydantic==2.7.0
pydantic_core==2.18.1
python-dotenv==1.0.0
openpyxl==3.1.4
psutil==6.0.0
pillow==10.4.0
pillow_heif==0.16.0
sseclient-py==1.8.0
ipython==8.26.0
PyMuPDF==1.23.4
PyMuPDFb==1.23.3

# Langchain and related packages
langchain-community==0.2.10
langchain-core==0.2.25
langchain==0.2.11

# Sentence transformers and embeddings
sentence_transformers==2.2.2
instructorembedding==1.0.1
faiss-cpu==1.7.4

# Chromadb and Langgraph
chromadb==0.5.3
langgraph==0.0.55

# LLM Evaluation
weave==0.51.1

# Optional packages (uncomment if needed)
# unstructured==0.14.9
# unstructured_inference==0.7.36
# unstructured_pytesseract==0.3.12
# pytesseract==0.3.10
